!   __  _  _ __    __    ____    ___   __  __  _ __   ___     __    ____ 
!  /\ \/'\/\`'__\/'__`\ /',__\  / __`\/\ \/\ \/\`'__\/'___\ /'__`\ /',__\
!  \/>  </\ \ \//\  __//\__, `\/\ \L\ \ \ \_\ \ \ \//\ \__//\  __//\__, `\
!   /\_/\_\\ \_\\ \____\/\____/\ \____/\ \____/\ \_\\ \____\ \____\/\____/
!   \//\/_/ \/_/ \/____/\/___/  \/___/  \/___/  \/_/ \/____/\/____/\/___/
                                                                         

!### color config ###

!### definitions ###

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

!### colors ###

! special
*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4
*.background-alpha: #F04C566A

! black
*.color0:       nord1
*.color8:       nord3

! red
*.color1:       nord11
*.color9:       nord11

! green
*.color2:       nord14
*.color10:      nord7

! yellow
*.color3:       nord13
*.color11:      nord13

! blue
*.color4:       nord9
*.color12:      nord9

! magenta
*.color5:       nord15
*.color13:      nord15

! cyan
*.color6:       nord8
*.color14:      nord7

! white
*.color7:       nord5
*.color15:      nord6

!### URxvt config ###

!### extensions ###
URxvt.perl-ext-common: default,matcher
URxvt.matcher.rend.0: Uline Bold nord14
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

!### general ###
URxvt.internalBorder: 24
URxvt.depth: 32
URxvt.iso14755: false
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt*font: xft: Inconsolata:size=12
URxvt.saveLines: 20000
