!   __  _  _ __    __    ____    ___   __  __  _ __   ___     __    ____ 
!  /\ \/'\/\`'__\/'__`\ /',__\  / __`\/\ \/\ \/\`'__\/'___\ /'__`\ /',__\
!  \/>  </\ \ \//\  __//\__, `\/\ \L\ \ \ \_\ \ \ \//\ \__//\  __//\__, `\
!   /\_/\_\\ \_\\ \____\/\____/\ \____/\ \____/\ \_\\ \____\ \____\/\____/
!   \//\/_/ \/_/ \/____/\/___/  \/___/  \/___/  \/_/ \/____/\/____/\/___/
                                                                         
!### theme ###

#include ".config/colors/nord"

!### URxvt config ###

!### extensions ###
URxvt.perl-ext-common: default,matcher
URxvt.matcher.rend.0: Uline Bold nord14
URxvt.url-launcher: firefox
URxvt.matcher.button: 1

!### general ###
URxvt.internalBorder: 24
URxvt.depth: 32
URxvt.iso14755: false
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt*font: xft: Inconsolata:size=12
URxvt.saveLines: 20000
