//                 ___
//               /'___\ __    
//   _ __   ___ /\ \__//\_\   
//  /\`'__\/ __`\ \ ,__\/\ \  
//  \ \ \//\ \L\ \ \ \_/\ \ \ 
//   \ \_\\ \____/\ \_\  \ \_\
//    \/_/ \/___/  \/_/   \/_/
//                            

configuration {
	modi:"drun,ssh";
	width: 33;
	lines: 12;
	show-match: false;
	separator-style:"solid";
	hide-scrollbar: true;
	theme:"~/.config/rofi/themes/theme.rasi";
}
